#btn_replay{
	position: absolute;
		border: 1px solid black;
	border-radius: 2px;
	width: 100px;
	height: 30px;
	left: 50%;
	transform: translate(-50%,0);
	text-align: center;
	padding-top: 3px;
	background-color: black;
	color: white;
	top:30px;
}
#list_hit_history{
	display: block;
	float:left;
	width:300px;
	height: max-content;
	margin-top:100px;
	
}
#list_hit_history div{
text-align: left;
}
#btn_replay:hover{
	background-color: #959595;
	cursor: pointer;
	color: black;
}

#turn{
	position: absolute;
	top: 80px;
	left: 50%;
	transform: translate(-50%,0);
}
#board_main_play{
	display: block;
	position: relative;
	width: 700px;
	height:max-content;
	float: right;
}
#board{
	position: relative;
	margin-right: 100px;
	.top-btn{
		margin-bottom: 20px;
		.btn-gg{
			float: right;
		}
		.btn-tie{
			float: right;
			margin-right: 20px;
		}
		.btn-undo{
			float: right;
			margin-right: 20px;
		}
		.btn-redo{
			float: right;
			margin-right: 20px;
		}
	}
	.list-history{
		margin-top:50px;
	}
	
}