.square{
	position: absolute;
	width: 35px;
	height: 35px;
	border: 1px solid black;
	
	-webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; 
}
.square:hover{
	background-color: rgba(240, 240, 13,0.5);
	cursor: pointer;
}
.square:active{
	background-color: #777777;
	cursor: pointer;
}
.hit-icon{
	position: absolute;
	top:1px;
	left: 1px;
	width: 30px;
	height: 30px;
}