.avatar-page-enemy{
    position: relative;
    width:100%;
    height: max-content;
    border: 1px solid black;
    font-size: 1rem !important;
    border-radius: 10px;
    padding: 10px 0px;
    background-color: #FFC104;
    -webkit-box-shadow: 5px 0px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 5px 0px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 5px 0px 5px 0px rgba(0,0,0,0.75);
    .img-panel{
        align-content: center;
        img{
            width: 100px;
            height: 100px;
            border-radius: 255px;
        }
    }
    .row{
        width: 60%;
        margin-left:20%;
    }
}