#btn_replay{
	position: absolute;
		border: 1px solid black;
	border-radius: 2px;
	width: 100px;
	height: 30px;
	left: 50%;
	transform: translate(-50%,0);
	text-align: center;
	padding-top: 3px;
	background-color: black;
	color: white;
	top:30px;
}
#list_hit_history{
	display: block;
	float:left;
	width:300px;
	height: max-content;
	margin-top:100px;
	
}
#list_hit_history div{
text-align: left;
}
#btn_replay:hover{
	background-color: #959595;
	cursor: pointer;
	color: black;
}

#turn{
	position: absolute;
	top: 80px;
	left: 50%;
	transform: translate(-50%,0);
}
#board_main_play{
	display: block;
	width: 700px;
	height:600px;
	float:left;

}
#board{
	position: relative;
	left: 50%;
	transform: translate(-50%,0);
}